body {
    background-color: skyblue;
    padding: 1em 3em;
}
form {
    background-color:antiquewhite;
    box-shadow:2px 2px;
    padding: 1em;
    display: inline-block;
    text-align: left;
}
header {
    margin-bottom: 1em;
}
.tagline {
    font-weight: bold;
    font-size: large;
}
.indent {
    margin-left: 2em;
}