body {
    margin: 10px 30px;
    line-height: 2em;
}

form, div.showcase {
    background-color:lightgreen;
    padding: 2em;
    display: inline-block;
}

table.showcase {
    background-color: white;
    border-spacing: 0;
    border-collapse:collapse;
    margin: 0;
}
table.showcase td {
    border: 1px solid black;
    width: 2em;
    height: 3em;
    vertical-align:top;
    line-height: 1em;
    padding: 0;
    margin: 0;
}
